
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@font-face {
  font-family:"G7"; ;
  src: url("/fonts/G7_Cube_5.ttf") format("ttf");
}
 
*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
 }

 body{
  background:linear-gradient(to right,#1f3020,#189b68);
 }
 
#calculadora{
  background:linear-gradient(to right,rgb(51, 51, 51),darkgrey);
  border: 1px solid rgba(158, 158, 158, 0.274);
  height: 500px;
  width: 300px;
  margin: auto;
  margin-top: 30px;
  box-shadow:  -5px 5px 10px .5px rgba(0, 0, 0, 0.575);
}

#tela{
  text-align: center;
  height: 90px;
  width:270px;
  background-color:rgb(97, 124, 78);
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow:inset 1px 1px 2px rgb(0, 60, 0) ;
  font-family:  "SILKSCREEN";

    
}

.msg{
  margin-top: 15px;
}
.txtn1,.txtOpr,.txtn2{
  text-align: center;
  color: rgb(12, 61, 12);
  font-size: .8em;
  }

 .resultado{
  font-size: 1.8em;
}

.btn{
  cursor: pointer;
  width: 62px;
  height: 62px;
  box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.257) ;
  
 
}

.operador{
  background-color: #189b68;
  color: aliceblue;
}
 
.somar{
  background-color: sred;
  color: aliceblue;
 }

.ac{
  grid-row: span 2;
  width: 127px;
}

 
button:active{
  background-color: white;
  transition: 0.2s;
  margin: auto;
}


/* estilos*/
.arredondado{
  border-radius: 10px;
}


.grid-container{
  display:grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: (4,100px);
  grid-template-rows: minmax(120px,auto)repeat(5,100px);
 
  
}

#autor{
  border: 1px solid rgba(199, 199, 199, 0.39);
  background:linear-gradient(to right,rgb(131, 128, 128),darkgrey);
  margin-top: 15px;
  height: 45px;
  width: 270px;
  text-align: center;
  box-shadow: inset -1px 1px 2px .5px rgb(97, 97, 97);
  
}

#autor>p{
  font-family: Helvetica, sans-serif;
  font-size: .8em;
  letter-spacing:.4em;
  color:rgba(233, 233, 233, 0.89);
  text-shadow:  1px -1px rgb(49, 49, 49);
  margin-bottom: -15px;

}
#autor>p>i{
  font-size: .5em;
  text-align: left;
  
 }
